@page "/"
@using KSGantt.Db
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime

<PageTitle>Graf</PageTitle>
<RadzenText TextStyle="TextStyle.H5">DIAGRAM PLÁNOVÁNÍ</RadzenText>
<div id="ks-gantt"></div>
<div id="ks-gantt-task-area"></div>

@code {


    protected override void OnAfterRender(bool firstRender)
    {
        var StaffTasksData = new List<KSStaffTask>(DbHelper.staffTasks);

        DbHelper.staffs.ForEach(o =>
        {
            if (StaffTasksData.FirstOrDefault(i => i.Staff.Id == o.Id) == null)
            {
                StaffTasksData.Add(new KSStaffTask()
                {
                 Id = Guid.Empty,
                 Staff = o
                });    

            }
        }
        );

        JsRuntime.InvokeAsync<string>("InitKSGantt", StaffTasksData);
        JsRuntime.InvokeAsync<string>("InitKSGanttTaskArea", DbHelper.tasks, DbHelper.categories);
        base.OnAfterRender(firstRender);
    }




}