@page "/"
@using KSGantt.Db
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<div id="ks-gantt"></div>
<div id="ks-gantt-task-area"></div>

@code{


    protected override void OnAfterRender(bool firstRender)
    {
        JsRuntime.InvokeAsync<string>("InitKSGantt", DbHelper.staffTasks);
        JsRuntime.InvokeAsync<string>("InitKSGanttTaskArea", DbHelper.tasks);
        base.OnAfterRender(firstRender);
    }

   

   
}